
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <p>Create your own Meetup group.</p>
            <button class="get-started-btn">Get Started</button>
        </div>
        <div>
            <hr>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <ul>
                    <li>
                        <h4>Your Account</h4>
                    </li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Become an Affiliate</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <ul>
                    <li>
                        <h4>Discover</h4>
                    </li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Topics</a></li>
                    <li><a href="#">Cities</a></li>
                    <li><a href="#">Online Events</a></li>
                    <li><a href="#">Local Guides</a></li>
                    <li><a href="#">Make Friends</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <ul>
                    <li>
                        <h4>Meetup</h4>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Meetup Pro</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Apps</a></li>
                    <li><a href="#">Podcast</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-social">
            <h4>Follow us</h4>
            <div class="social">
                <div class="social-icons">
                    <a href="#"><img src="../assets/icons/fecabook.svg" alt="Facebook"></a>
                    <a href="#"><img src="../assets/icons/Twitter.svg" alt="Twitter"></a>
                    <a href="#"><img src="../assets/icons/you-tube.svg" alt="YouTube"></a>
                    <a href="#"><img src="../assets/icons/instagram.svg" alt="Instagram"></a>
                    <a href="#"><img src="../assets/icons/tiktok.svg" alt="TikTok"></a>
                </div>
                <div class="footer-apps">
                    <a href="#"><img src="../assets/icons/google play.svg" alt="Google Play"></a>
                    <a href="#"><img src="../assets/icons/app story.svg" alt="App Store"></a>
                </div>
            </div>

        </div>



        <ul class="footer-bottom">
            <li>
                <h4>© 2024 Meetup</h4>
            </li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Do Not Sell or Share My Personal Data</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">Help</a></li>
        </ul>

    </div>
</footer>